$bg: #2d3a4b;
$light_gray:#eee;
$dark_gray:#889aa4;

.page-container {
  display: flex;
  display:-webkit-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $light_gray
}